* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
}


/* -----------nav bar------------ */

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: center;
  align-items: center;
  background-color:rgb(4, 9, 30);
  position: sticky;
  top:0;
  height: 80px;
}

.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}











/* -----------------main---------------- */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 780px;
  min-height: 500px;
  margin: auto;
  flex-direction: row;
  border: none;
  border-radius: 15px;
  background-color: #cdd3ce3e;
}

.column {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: black;
  font-family: Lato, sans-serif;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  display: block;
}

#random-dogs{
  margin-bottom: 100px;
}

#reload-button {
  display: block;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: orangered;
  border-radius: 10px 10px 0px 0px;
  font-size: medium;
  font-weight: bold;
  color: white;
  width: 30%;
  margin-bottom: 25px;
  margin: auto;
}
#reload-button:hover{
  width: 28%;
  transition: 0.5s ;
}

.dog-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
}

.save-dog-button {
  border: none;
  background-color: orange;
  color: white;
  padding: 9px 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0 0 8px 8px;
}

.save-dog-button:hover {
  padding: 9px 20px;
  transition: 0.5s;
}

.save-dog-button:focus {
  color: black;
}



h2{
  color: black;
  display: block;
  width: 100%;
  font-size: 30px;
  margin:auto;
  text-align: center;
}

#fav-dogs{
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 40px;
  place-content: center;
  margin-top: 30px;
}

.fav-dog-card{
  width: 380px;
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.fav-dog-img{
  width: 100%;
  border-radius: 15px;
  height: 400px;
  object-fit:cover
}


.rm-btn{
  background-color: orangered;
  border:none;
  color: white;
  padding: 10px;
  width: auto;
  margin: auto;
  padding: 9px 15px;
  font-size: 15px;
  font-weight: bold;
  transition: 1s;
  border-radius: 0 0 8px 8px;
}

.rm-btn:hover{
  width: 250px;
}

#uploadingDog{
 margin-top: 20px;
 padding-top: 120px;
}

#uploadingForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  text-align: center;
  font-size: 35px;
}


#uploadingForm input{
  padding: 100px;
  border: none;
}


#upload-btn{
  padding: 20px;
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius:0 0 10px 10px;
  width: 170px;

}
#upload-btn:hover{
  color: black;
  transition: 0.5s;
  width: 185px;

}

#uploadingForm input{
 padding: 100px;
 background-color: rgb(236, 236, 236)
}
form p{
  font-size: 20px;
  margin-bottom: 50px;

}