* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 780px;
  min-height: 500px;
  margin: auto;
  flex-direction: row;
  border: none;
  border-radius: 15px;
  background-color: #cdd3ce3e;
}

.column {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: black;
  font-family: Lato, sans-serif;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  display: block;
}

#random-dogs{
  margin-bottom: 100px;
}

#reload-button {
  display: block;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: orangered;
  border-radius: 10px 10px 0px 0px;
  font-size: medium;
  font-weight: bold;
  color: white;
  width: 30%;
  margin-bottom: 25px;
  margin: auto;
}
.dog-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
}

.save-dog-button {
  border: none;
  background-color: orange;
  color: white;
  padding: 9px 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0 0 8px 8px;
}

.save-dog-button:hover {
  padding: 9px 20px;
  transition: 0.5s;
}

.save-dog-button:focus {
  color: black;
}



#fav-dogs{
  /* margin-top: 100px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 40px;
  place-content: center;
  margin-top: 30px;
}

.fav-dog-card{
  width: 380px;
  margin:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.fav-dog-img{
  width: 100%;
  border-radius: 15px;
  height: 400px;
  object-fit:cover
}


.rm-btn{
  background-color: orangered;
  border:none;
  color: white;
  padding: 10px;
  width: auto;
  margin: auto;
  padding: 9px 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0 0 8px 8px;

  
}